extends layout

block content
  h1= title
  ul.results
    each place in places
      li.place(data-id=`${place.id}`)
        img(src=`${place.image_url || '/images/pub.jpg'}` alt=`${place.name}`)
        .text
          h3
            a(href=`${place.url}` target="_blank") #{place.name}
          p #{place.id}
          .details
            p
              each cat in place.categories
                span.tag #{cat.title}
                |  
            p #{place.rating}, with #{place.review_count} ratings – #{place.price}
        .user
          form.going-form(method="POST" class=`${user && user.places.includes(place.id) ? 'going-confirmed' : ''}` action=`/going-tonight/${place.id}`)
            button(type="submit" name="going") I'm going!
              p Total going: 
                span.number 0
  pre= h.dump(user)
  pre= h.dump(thePlace)