extends layout

block content
  h1= title
  ul.results
    each place in places
      li.place(data-id=`${place.id}`)
        img(src=`${place.image_url || '/images/pub.jpg'}` alt=`${place.name}`)
        .text
          h3
            a(href=`${place.url}` target="_blank") #{place.name}
          p #{place.id}
          .details
            p
              each cat in place.categories
                span.tag #{cat.title}
                |  
            p #{place.rating}, with #{place.review_count} ratings – #{place.price}
        .user
          p Going tonight: 
            span 0
          form.going-tonight(method="POST" action=`/going-tonight/${place.id}`)
            input(name="culo" type="text" value=17 readonly)
            button(type="submit" name="going") I'm going!
  pre= h.dump(user)