extends layout

block content
  h1.results-title 🌃 Nightlife in 
    span.place-title #{title}
    | :
  ul.results
    each place in places
      li.place(data-id=`${place.id}`)
        img(src=`${place.image_url || '/images/pub.jpg'}` alt=`${place.name}`)
        .text
          h3
            a(href=`${place.url}` target="_blank") #{place.name}
          .details
            p
              each cat in place.categories
                span.tag #{cat.title}
                |  
            p #{place.rating} (#{place.review_count} ratings) #{place.price ? '– ' + place.price : ''}
            p #{place.location.display_address}
        .user
          form.going-form(method="POST" class=`${user && user.places.includes(place.id) ? 'going-confirmed' : ''} ${user ? 'logged-user' : 'no-user' }` action=`/going-tonight/${place.id}`)
            button(type="submit" name="going")
              p.going-text Join tonight!
              p.notgoing-text You are going!
              p.going-total Total: 
                span.number #{place.users_going}
  a.button.search-again(href="/") 🔍 Search again